<p>
	<strong>Title:</strong>
	<%= article.title %>
</p>

<p>
	<strong>Movie:</strong>
	<%= @article.movie %>
</p>

<p>
	<strong>Lyrics</strong>
	<%= @article.lyrics %>
</p>

<p>
	<strong>Video</strong>
	<%= @article.video %>
</p>

<%= link_to 'Back', songs_path %>