<h1><%= @place.name %></h1>

<p>
	<strong>Type:</strong>
	<%= @place.sort %>
</p>

<p>
	<strong>Address:</strong>
	<%= @place.address %>
</p>

<p>
	<strong>Opens:</strong>
	<% @place_opening_string %>
</p>

<p>
	<strong>Closes:</strong>
	<% @place_closing_string %>
</p>

<!-- <h2>Comments</h2>
<% @place.comments.each do |comment| %>
	<p>
		<strong>Commenter:</strong>
		<%= comment.commenter %>
	</p>

	<p>
		<strong>Comment:</strong>
		<%= comment.body %>
	</p>
<% end %> -->

<%= render 'comments/comment' %>

<h2>Add a comment:</h2>
<%= form_for([@place, @place.comments.build]) do |f| %>
	<p>
		<%= f.label :commenter %><br>
		<%= f.text_field :commenter %>
	</p>
	<p>
		<%= f.label :body %><br>
		<%= f.text_area :body %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>

<p><%= link_to "Edit", edit_place_path(@place) %></p>
<p><%= link_to "Back", places_path %></p>