<% if @animal.errors.any? %>
	<div id = "error_epxlanation">
		<h2>
			<%= pluralize(@animal.errors.count, "error") %> prohibited this animal from being saved:
		</h2>
		<ul>
			<% @animal.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for @animal do |f| %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %><br>
	</p>

	<p>
		<%= f.label :region %><br>
		<%= f.text_field :region %><br>
	</p>

	<p>
		<%= f.label :life_expectancy %><br>
		<%= f.text_field :life_expectancy %><br>
	</p>

	<p>
		<%= f.submit %>
	</p>

<% end %>